extends layout.pug

block content

  .about-content
    h2 About Us
    p Welcome to the library management system. Our mission is to provide accurate and up-to-date information on prices for various products. We strive to empower consumers and businesses with valuable insights to make informed decisions.
    p Our team is dedicated to delivering a reliable and user-friendly platform for accessing price information. We believe in transparency and efficiency, and we work towards creating a positive impact on the way people engage with pricing data.
    p Thank you for choosing Price Information System. Feel free to explore our website and utilize the resources we provide.
  footer
    | &copy; 2024 Library Management System.